# Ignorar TODO por defecto
*

# Permitir básicos
!.gitignore
!README.md
!requirements.txt
!*.py

# Permitir src y subcarpetas
!src/
!src/**/
!src/**/*.py

# Ignorar artefactos (aunque estén bajo src)
src/optimization/tb/
src/optimization/runs/

# No quieres CSV/YAML
*.csv
*.yml
*.yaml

# Basura python
**/__pycache__/
*.pyc
*.pyo

# Entornos y otros
.venv/
venv/
env/
.ipynb_checkpoints/
